{% extends "base.html" %}
{% load static %}

{% block pagetitle %}Search{% endblock %}


{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link active bold" href="{% url 'search:main' %}">S<span
                class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'CAL:main' %}">J</a>
    </li>
{% endblock %}

{% block nav-header %}
    {% block nav-header-title %}{% endblock %}
    <li class="nav-item active">
    <span class="nav-link thin text-primary">
       <strong>TrecSearch</strong>
    </span>
    </li>
    {% comment %}
    <li class="nav-item active">
    <span class="nav-link thin gray-text">
       <strong>Document judged: </strong><span class="badge badge-success"
                                               id="nav_stats_rel_header">{{ total_relevant }}</span> <span
            class="badge badge-danger"
            id="nav_stats_nonrel_header">{{ total_nonrelevant }}</span> <span
            class="badge badge-warning"
            id="nav_stats_ontopic_header">{{ total_ontopic }}</span>
    </span>
    </li>
    <li class="nav-item active" style="width: 200px">
    <span class="nav-link thin gray-text">
        <strong>Time spent:</strong>
        <div id="nav_timer_header" class="display-inline">
            <span class="values" id="timer_counter">counters</span>
        </div>
    </span>
    </li>
    {% endcomment %}
{% endblock %}

{% block main %}
    <div class="row flex-items-lg-middle">
        <div class="col-lg-2 mt-1 text-primary font-montserrat">
            <h3>TrecSearch</h3>
        </div>
        <div class="col-lg-9">
          <form class="input-group" id="search_form">
              <input type="text" class="form-control moustrap" placeholder="Search" id="search_input"
                   name="search_input">
              <span class="input-group-btn">
                <button class="btn btn-outline-primary" type="submit"
                        ic-indicator="#searchSpinner" ic-target="#search_result"
                        ic-include="#search_input" ic-post-to="{% url 'search:get_docs' %}"
                        tabindex="-1">Search
                </button>
              </span>
          </form>
        </div>
    </div>

    <div class="row center-text">
        <div class="col-md-12" style="position: absolute">
            <span class="text-muted">
                <i id="searchSpinner" style="display: none;"
                   class="fa fa-refresh fa-spin text-primary"></i></span>
        </div>
    </div>
    <div class="extra-top-margin">
    <div class="double-extra-padding-left-right">

    </div>
        <div id="search_result">
        </div>

    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="http://cdn.intercoolerjs.org/intercooler-1.1.1.min.js"></script>
    <script src="{% static 'js/mousetrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>

        var loaded_docs = {}; // dict of loaded documents to prevent reloading doc content.

        // flag to check if a modal is currently opened
        var isModalOpen = false;
        var currentOpenedModalDocId = null;

        // Nofity server of page visit on pageload
        window.onload = function () {
            var now = + new Date();
            $.ajax({
                url: '{% url 'search:post_visit' %}',
                method: 'POST',
                data: JSON.stringify({
                    'client_time': now,
                    'page_title': document.title,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }),
                success: function (result) {
                    console.log(result['message']);
                }
            });
        };

        $( "#search_input" ).focus(function() {
            var now = + new Date();
            $.ajax({
                url: '{% url 'search:post_search_status' %}',
                method: 'POST',
                data: JSON.stringify({
                    'client_time': now,
                    'isFocused': true,
                    'search_bar_value': $("#search_input").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'page_title': document.title
                }),
                success: function (result) {
                    console.log(result['message']);
                }
            });

            console.log("Search input is focused.", now);
        });

        $( "#search_input").blur(function() {
            var now = + new Date();
            $.ajax({
                url: '{% url 'search:post_search_status' %}',
                method: 'POST',
                data: JSON.stringify({
                    'client_time': now,
                    'isFocused': false,
                    'search_bar_value': $("#search_input").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'page_title': document.title
                }),
                success: function (result) {
                    console.log(result['message']);
                }
            });
            console.log("Search input is unfocused.", now);
        });

        var form = document.getElementById('search_form');
        var formSubmit = form.submit; //save reference to original submit function

        // TODO: currently not working. Need to log when submit is fired.
        form.onsubmit = function(e) {
            alert('Handler for .submit() called.');
        };

        var search_form = document.querySelector('search_form');
        Mousetrap(search_form).handleKey = function handleKey(character, modifiers, event){
            if(event.type == "keydown" && $("#search_input").is(':focus')){
                var now = + new Date();
                $.ajax({
                    url: '{% url 'search:post_keystroke' %}',
                    method: 'POST',
                    data: JSON.stringify({
                        'client_time': now,
                        'page_title': document.title,
                        'character': character,
                        'search_bar_value': $("#search_input").val(),
                        'isSearchbarFocused': $("#search_input").is(':focus'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }),
                    success: function (result) {
                        console.log(result['message']);
                    }
                });
                console.log("Character pressed: ", character, now);
            }
        };

        Mousetrap.bind(['s', 'h', 'k'], function(e, key) {
            var current_doc_id = get_current_opened_modal_doc_id();
            if(current_doc_id == null){
                return;
            }

            if(key == 's') {
                send_judgment_and_hide_modal(current_doc_id, true, false, false, false, true);
            }
            else if(key == 'h') {
                send_judgment_and_hide_modal(current_doc_id, false, true, false, false, true);
            }
            else if(key == 'k') {
                send_judgment_and_hide_modal(current_doc_id, false, false, true, false, true);
            }

        });

        Mousetrap.bind(['ctrl+f', 'command+f'], function(e) {
            console.log("in cntrf", isModalOpen, currentOpenedModalDocId);
            e.preventDefault();

            if(!isModalOpen){
                return;
            }
            var docid = get_current_opened_modal_doc_id();
            $( "#search_content_doc_"+docid).focus();
            return false;
        });

        function get_current_opened_modal_doc_id(){
            if(isModalOpen){
                return currentOpenedModalDocId;
            }
            else return null;
        }

        function send_judgment(doc_id, rel, non, ontopic, isMouse, isKeyboard) {
            var now = + new Date();

            console.log("Sending judgment call to backend for document id: " + doc_id);

            var data = {
                'doc_id': doc_id,
                'relevant': rel,
                'nonrelevant': non,
                'ontopic': ontopic,
                'time_to_judge': "NA",
                'isFromCAL': false,
                'client_time': now,
                'fromMouse': isMouse,
                'fromKeyboard': isKeyboard,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'page_title': document.title
            };


            $.ajax({
                url: '{% url 'judgment:post_judgment' %}',
                method: 'POST',
                data: JSON.stringify(data),
                success: function (result) {
                    console.log(result['message']);
                },
                error: function (result) {
                    console.log(result);
                }
            });

            update_doc_status(doc_id, rel, non, ontopic);

            return false;
        }

        function update_doc_status(doc_id, rel, non, ontopic){
            console.log("Updating document " + doc_id + " status");
            if(rel){
                $("#doc_"+doc_id+"_status").html("<div class='bg-success' style='height: 100%; padding: 5px;' ><i class='fa' aria-hidden='true'></i></div>").hide().fadeIn();
            }else if(non){
                $("#doc_"+doc_id+"_status").html("<div class='bg-danger' style='height: 100%; padding: 5px;' ><i class='fa' aria-hidden='true'></i></div>").hide().fadeIn();
            }else if(ontopic){
                $("#doc_"+doc_id+"_status").html("<div class='bg-warning' style='height: 100%; padding: 5px;' ><i class='fa' aria-hidden='true'></i></div>").hide().fadeIn();
            }
            document.getElementById("isJudged_"+doc_id).style.display = "inherit";
        }

        function hide_modal(doc_id){
            console.log("hiding modal: ", doc_id);
             $('#doc-'+doc_id+'-modal').modal('hide');
        }

        function send_judgment_and_hide_modal(doc_id, rel, non, ontopic, isMouse, isKeyboard){
            send_judgment(doc_id, rel, non, ontopic, isMouse, isKeyboard);
            hide_modal(doc_id);
            return false;
        }
    </script>
{% endblock %}
