{% if error %}
<div class="row">
    <div class="col-md-12">
        <span class="text-danger">{{ error }}</span>
    </div>
</div>
{% endif %}

{% for doc_id, document_values in documents.items %}
    <div class="row">
        <div class="col-md-6">
            <div class="document" data-rank="{{ document_values.rank }}">
                <div class="title">{{ document_values.title|safe }}</div>
                <div class="url">doc_id: {{ document_values.docno }}</div>
                <div class="snippet"> {{ document_values.snippet|safe }} </div>
            </div>
        </div>
        <div class="offset-md-0-5 col-md-3 mt-5 center-text">
            <div class="btn-group top-margin" role="group"
                 aria-label="Basic example">
                <a href="#" onclick="return send_judgment('{{ document_values.docno }}', true, false, false, true, false);" class="btn btn-sm btn-success">
                    Relevant
                </a>
                <a href="#" onclick="return send_judgment('{{ document_values.docno }}', false, true, false, true, false);" class="btn btn-sm btn-danger">Not
                    relevant
                </a>
                <a href="#" onclick="return send_judgment('{{ document_values.docno }}', false, false, true, true, false);" class="btn btn-sm btn-warning">Not
                    sure
                </a>
            </div>

        </div>

            <div class="mt-5 col-md-2 align-right gray-text" id="doc_{{ document_values.docno }}_status">
                {% if document_values.isJudged %}
                    {% if document_values.relevance_judgment.relevant %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {% elif document_values.relevance_judgment.nonrelevant %}
                        <i class="fa fa-check text-danger" aria-hidden="true"></i>
                    {% elif document_values.relevance_judgment.notsure %}
                        <i class="fa fa-check text-warning" aria-hidden="true"></i>
                    {% endif %}
                {% endif %}
            </div>

    </div>
    <hr>
{% endfor %}
