{% if error %}
<div class="row">
    <div class="col-md-12">
        <span class="text-danger">{{ error }}</span>
    </div>
</div>
{% endif %}
{% if not  documents.items %}
<div class="med card-section">
    <p style="padding-top:.33em">
        Your search - <em>{{ query }}</em> - did not match any documents.  </p>
        <p style="margin-top:1em">Suggestions:</p>
        <ul style="margin-left:1.3em;margin-bottom:2em">
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
            <li>Try fewer keywords.</li></ul>
</div>
{% endif %}
{% if total_time %}
<small class="gray-text">{{ total_time }} seconds.</small>
{% endif %}
{% for doc_id, document_values in documents.items %}
    <div class="row flex-items-md-middle">
        <div class="col-xs " id="doc_{{ document_values.docno }}_status" style="min-width: 15px;">
            {% if document_values.isJudged %}
                {% if document_values.relevance_judgment.highlyRelevant %}
                    <div class="bg-success" style="height: 100%; padding: 5px;" >
                        <i class="fa" aria-hidden="true"></i>
                    </div>
                {% elif document_values.relevance_judgment.nonrelevant %}
                    <div class="bg-danger" style="height: 100%; padding: 5px;">
                        <i class="fa" aria-hidden="true"></i>
                    </div>
                {% elif document_values.relevance_judgment.relevant %}
                    <div class="bg-warning" style="height: 100%; padding: 5px;">
                        <i class="fa" aria-hidden="true"></i>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-7"  data-toggle="modal" data-target=".doc-{{ document_values.docno }}-modal" style="cursor: pointer; cursor: hand;">
            <div class="document" data-rank="{{ document_values.rank }}">
                <div class="title" id="doc-{{ document_values.docno }}-title">{{ document_values.title|safe }}</div>
                <div class="url">doc_id: {{ document_values.docno }}</div>
                <div class="snippet" id="doc-{{ document_values.docno }}-snippet"> {{ document_values.snippet|safe }} </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3 mt-5 center-text">
            <div class="btn-group top-margin" role="group">
                <a href="#" data-dismiss="modal" onclick="return send_judgment('{{ document_values.docno }}', '{{ document_values.title|escapejs }}', '{{ document_values.snippet|escapejs }}', true, false, false, true, false, false, null);" class="btn btn-sm btn-success">Highly Relevant</a>
                <a href="#" data-dismiss="modal" onclick="return send_judgment('{{ document_values.docno }}', '{{ document_values.title|escapejs }}', '{{ document_values.snippet|escapejs }}', false, false, true, true, false, false, null);" class="btn btn-sm btn-warning">Relevant</a>
                <a href="#" data-dismiss="modal" onclick="return send_judgment('{{ document_values.docno }}', '{{ document_values.title|escapejs }}', '{{ document_values.snippet|escapejs }}', false, true, false, true, false, false, null);" class="btn btn-sm btn-danger">No relevant</a>
            </div>
            <div class="gray-text top-margin small bold" id="isJudged_{{ document_values.docno }}" {% if not document_values.isJudged %}style="display: none"{% endif %}>Document has been judged.</div>
        </div>
    </div>

    <!-- DOCUMENT {{ document_values.docno }} MODAL  -->
    <div class="modal fade doc-{{ document_values.docno }}-modal" id="doc-{{ document_values.docno }}-modal" tabindex="-1"
         role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xlg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        {{ document_values.title|safe }}
                    </h3>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; min-height: 450px; max-height: inherit;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="document-{{ document_values.docno }}-modal-content" id="document-{{ document_values.docno }}-modal-content"
                                 data-doc-id="">
                                <div class="document_content" id="document_{{ document_values.docno }}_content">
                                    <div class="row bottom-margin small">
                                        <div class="col-md-6 ">
                                            <small class="document_content_date"></small>
                                        </div>
                                        <div class="col-md-6 align-right small">
                                            <code class="document_content_id"></code>
                                        </div>
                                    </div>
                                    <div class="document_content_text">
                                        <p><span class="text-danger">Fetching document. Please wait...</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <nav class="sidebar-nav-fixed bg-faded font-open-sans">
                                <ul class="nav nav-pills flex-column little-padding">
                                    <div class="cal-search">
                                        <li class=" top-margin">
                                            <span class="gray-text align-left">Search content:</span>
                                            <form id="searchContentForm_doc_{{ document_values.docno }}" class="top-margin">
                                                <div class="input-group">
                                                    <input id="search_content_doc_{{ document_values.docno }}" type="search"
                                                           class="form-control" placeholder="Search">
                                              <span class="input-group-btn">
                                                <button class="btn btn-sm btn-secondary"
                                                        data-search="next" id="searchNextDoc{{ document_values.docno }}"
                                                        type="button">&darr;</button>
                                              </span>
                                              <span class="input-group-btn">
                                                <button class="btn btn-sm btn-secondary"
                                                        data-search="prev"
                                                        type="button">&uarr;</button>
                                              </span>
                                              <span class="input-group-btn">
                                                <button class="btn btn-sm btn-secondary"
                                                        data-search="clear" type="button">✖
                                                </button>
                                              </span>
                                                </div>
                                            </form>
                                        </li>
                                    </div>

                                    <li class="nav-item extra-top-margin">
                                        <span class="gray-text align-left">Judge document:</span>
                                        <div class="btn-group top-margin" role="group"
                                             aria-label="Basic example">
                                            <a href="#" onclick="return send_judgment_and_hide_modal('{{ document_values.docno }}', '{{ document_values.title|escapejs }}', '{{ document_values.snippet|escapejs }}', true, false, false, true, false);" class="btn btn-sm btn-success">Highly relevant</a>
                                            <a href="#" onclick="return send_judgment_and_hide_modal('{{ document_values.docno }}', '{{ document_values.title|escapejs }}', '{{ document_values.snippet|escapejs }}', false, false, true, true, false);" class="btn btn-sm btn-warning">Relevant</a>
                                            <a href="#" onclick="return send_judgment_and_hide_modal('{{ document_values.docno }}', '{{ document_values.title|escapejs }}', '{{ document_values.snippet|escapejs }}', false, true, false, true, false);" class="btn btn-sm btn-danger">Not relevant</a>
                                        </div>
                                    </li>
                                    <div class="extra-top-margin align-left">
                                        <span class="gray-text">Keyboard shortcuts:</span>
                                        <li class="nav-item top-margin">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span class="badge badge-success">s</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <small class="left-margin">Mark as highly relevant
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span class="badge badge-warning">k</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <small class="left-margin">Mark as relevant
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item ">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span class="badge badge-danger">h</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <small class="left-margin">Mark as non-relevant
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                    </div>

                                </ul>

                            </nav>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL EVENT TRIGGERS -->
    <script>

        $('#doc-{{ document_values.docno }}-modal').on('hidden.bs.modal', function (e) {
            if(documents_timers['{{ document_values.docno }}'] == undefined){
                console.log("Hiding modal with no timer. An error  must have happened.");
                return;
            }
            var timeActive = Date.now() - documents_timers['{{ document_values.docno }}'].startTime - documents_timers['{{ document_values.docno }}'].totalAwayTime;
            var timeAway = documents_timers['{{ document_values.docno }}'].totalAwayTime;
            console.log("Model has been hidden.");
            console.log("Destroying document# {{ document_values.docno }} timer.");
            documents_timers['{{ document_values.docno }}'].idle.stop();
            delete documents_timers['{{ document_values.docno }}'];
            isModalOpen = false;
            currentOpenedModalDocId = null;

            if(is_from_judement == false){
                console.log("No judgment has been made. Sending no judgment call to backend for document id: " + '{{ document_values.docno }}');
                var now = + new Date();
                var timeVerbose = {
                    "timestamp": now,
                    "timeActive": timeActive,
                    "timeAway": timeAway,
                    "source": "searchModal",
                    "judged": false
                };
                var data = {
                    'doc_id': '{{ document_values.docno }}',
                    'doc_title': '{{ document_values.title|escapejs }}',
                    'doc_search_snippet': '{{ document_values.snippet|escapejs }}',
                    'client_time': now,
                    'timeVerbose': timeVerbose,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'page_title': document.title
                };

                $.ajax({
                    url: '{% url 'judgment:post_nojudgment' %}',
                    method: 'POST',
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.error(result['message']);
                    },
                    error: function (result) {
                        console.error(result);
                    }
                });
            }else{
                // reset flag
                is_from_judement = false;
            }
        });

        $('#doc-{{ document_values.docno }}-modal').on('shown.bs.modal', function (e) {

            var modal = $(this);
            if(!('{{ document_values.docno }}' in loaded_docs)){
                $.ajax({
                    url: '{% url 'search:get_doc' %}?docid={{ document_values.docno }}&query={{ query }}',
                    method: 'GET',
                    success: function (result) {
                        modal.find('.document_content_text').html(result[0]['content']);
                        loaded_docs['{{ document_values.docno }}'] = true;
                        modal.find('.document_content_date').html(result[0]['date']);
                        modal.find('.document_content_id').html(result[0]['doc_id']);
                        console.log("Initializing document timer for doc: {{ document_values.docno }}");
                        var documentTimer = AwayTimer();
                        documents_timers['{{ document_values.docno }}'] = documentTimer;
                    },
                    error: function (result){
                        var error_msg = "["+result['status']+"] "+"Failed to get document. Error message: "+result["statusText"]+".";
                        modal.find('.document_content').html(error_msg).addClass("text-danger");
                        console.error(error_msg);
                    },
                    statusCode: {
                        502: function (xhr) {
                            var error_msg = "[502] Failed to get document. Error message: "+xhr.responseText;
                            modal.find('.document_content').html(error_msg).addClass("text-danger");
                            console.error(error_msg);
                        }
                    }
                });
            }else{
                console.log("Re-initializing document timer for doc: {{ document_values.docno }}");
                var documentTimer = AwayTimer();
                documents_timers['{{ document_values.docno }}'] = documentTimer;
            }

            console.log("Model has been shown");
            isModalOpen = true;
            currentOpenedModalDocId = '{{ document_values.docno }}';
        });
    </script>




    <!-- MODAL SEARCH CONTENT -->
    <script>

        $('#searchContentForm_doc_{{ document_values.docno }}').submit(function (e) {
            e.preventDefault();
            $("#searchNextDoc{{ document_values.docno }}").click();
            return false;
        });

        $(function() {

          // the input field
          var $input = $("#search_content_doc_{{ document_values.docno }}"),
            // clear button
            $clearBtn = $("button[data-search='clear']"),
            // prev button
            $prevBtn = $("button[data-search='prev']"),
            // next button
            $nextBtn = $("button[data-search='next']"),
            // the context where to search
            $content = $(".document-{{ document_values.docno }}-modal-content"),
            // jQuery object to save <mark> elements
            $results = "",
            // the class that will be appended to the current
            // focused element
            currentClass = "current",
            // top offset for the jump (the search bar)
            offsetTop = 50,
            // the current index of the focused element
            currentIndex = 0;

            var search_form = document.getElementById("search_content_doc_{{ document_values.docno }}");
            Mousetrap(search_form).handleKey = function handleKey(character, modifiers, event){
                if(event.type == "keydown" && $(search_form).is(':focus')){
                    var now = + new Date();
                    $.ajax({
                        url: '{% url 'progress:post_find_keystroke' %}',
                        method: 'POST',
                        data: JSON.stringify({
                            'client_time': now,
                            'doc_id': "{{ document_values.docno }}",
                            'character': character,
                            'page_title': document.title,
                            'search_bar_value': $(search_form).val(),
                            'isSearchbarFocused': $(search_form).is(':focus'),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        }),
                        success: function (result) {
                            console.log(result['message']);
                        }
                    });
                    console.log("Character pressed: ", character, now);
                }
            };


          /**
           * Jumps to the element matching the currentIndex
           */
          function jumpTo() {
            if ($results.length) {
              $input.addClass("greenBorder").css("border-color","#449D44");
              var position,
                $current = $results.eq(currentIndex);
              $results.removeClass(currentClass);
              if ($current.length) {
                $current.addClass(currentClass);
                position = $current[0].offsetTop - offsetTop;
                $("#doc-{{ document_values.docno }}-modal").scrollTop(position);
              }
            }else{
              if(!$input.val()){
                  $input.removeAttr( 'style' );
              }else if ($input.is(':focus')){
                $input.addClass("redBorder").css("border-color","#C9302C");
              }
              $("#doc-{{ document_values.docno }}-modal").scrollTop(0);
            }
          }

          /**
           * Searches for the entered keyword in the
           * specified context on input
           */
          $input.on("input", function() {
            var searchVal = this.value;
            $content.unmark({
              done: function() {
                $content.mark(searchVal, {
                  separateWordSearch: true,
                  done: function() {
                    $results = $content.find("mark");
                    currentIndex = 0;
                    jumpTo();
                  }
                });
              }
            });
          });

          /**
           * Clears the search
           */
          $clearBtn.on("click", function() {
            $content.unmark();
            $input.val("").focus();
          });

          /**
           * Next and previous search jump to
           */
          $nextBtn.add($prevBtn).on("click", function() {
            if ($results.length) {
              currentIndex += $(this).is($prevBtn) ? -1 : 1;
              if (currentIndex < 0) {
                currentIndex = $results.length - 1;
              }
              if (currentIndex > $results.length - 1) {
                currentIndex = 0;
              }
              jumpTo();
            }
          });
        });

    </script>
    <hr>
{% endfor %}
