{% if error %}
<div class="row">
    <div class="col-md-12">
        <span class="text-danger">{{ error }}</span>
    </div>
</div>
{% endif %}

{% for doc_id, document_values in documents.items %}
    <div class="row flex-items-md-middle">
        <div class="col-xs " id="doc_{{ document_values.docno }}_status" style="min-width: 15px;">
            {% if document_values.isJudged %}
                {% if document_values.relevance_judgment.relevant %}
                    <div class="bg-success" style="height: 100%; padding: 5px;" >
                        <i class="fa" aria-hidden="true"></i>
                    </div>
                {% elif document_values.relevance_judgment.nonrelevant %}
                    <div class="bg-danger" style="height: 100%; padding: 5px;">
                        <i class="fa" aria-hidden="true"></i>
                    </div>
                {% elif document_values.relevance_judgment.notsure %}
                    <div class="bg-warning" style="height: 100%; padding: 5px;">
                        <i class="fa" aria-hidden="true"></i>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="document" data-rank="{{ document_values.rank }}">
                <div class="title">{{ document_values.title|safe }}</div>
                <div class="url">doc_id: {{ document_values.docno }}</div>
                <div class="snippet"> {{ document_values.snippet|safe }} </div>
            </div>
        </div>
        <div class="offset-md-0-5 col-md-3 mt-5 center-text">
            <div class="btn-group top-margin" role="group"
                 aria-label="Basic example">
                <a href="#" onclick="return send_judgment('{{ document_values.docno }}', true, false, false, true, false);" class="btn btn-sm btn-success">
                    Relevant
                </a>
                <a href="#" onclick="return send_judgment('{{ document_values.docno }}', false, true, false, true, false);" class="btn btn-sm btn-danger">Not
                    relevant
                </a>
                <a href="#" onclick="return send_judgment('{{ document_values.docno }}', false, false, true, true, false);" class="btn btn-sm btn-warning">Not
                    sure
                </a>
            </div>
            <span class="gray-text top-margin small bold" id="isJudged_{{ document_values.docno }}" {% if not document_values.isJudged %}style="display: none"{% endif %}>Document has been judged.</span>
        </div>

    </div>
    <hr>
{% endfor %}
