{% load staticfiles i18n static raven %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TrecCore">
    <meta name="author" content="University of Waterloo IR lab.">

    <title>TrecCore - {% block pagetitle %}home{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% include "raven-config.html" %}

    {% block extra_head %}{% endblock %}
</head>

<body>

<nav class="navbar nav-bar-padding navbar-toggleable-md bg-faded fixed-top border-bottom">

    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button"
            data-toggle="collapse" data-target="#navbars"
            aria-controls="navbars" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand font-montserrat" href="/"><strong>IRStudy</strong></a>
    <div class="collapse navbar-collapse" id="navbars">
        {% block nav-left%}
        <ul class="navbar-nav mt-2">
            <a href="#" data-toggle="popover" title="Topic Description" data-placement="bottom" data-trigger="focus" data-content="{{ user.current_task.topic.description }}">
            <strong>Topic</strong>: {{ user.current_task.topic.title }}</a>
        </ul>
        {% endblock %}

        <ul class="navbar-nav mx-auto small mt-1">
            {% block nav-header %}
            {% block nav-header-title %}{% endblock %}
            {% endblock %}
        </ul>
        <div class="form-inline mt-2 mt-md-0">
            <ul class="navbar-nav mr-auto">
                {% block nav-right %}
                    {% if request.user.is_authenticated %}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{% url 'judgment:get_all' %}">All judgments</a>#}
{#                    </li>#}
                    <li class="nav-item">
{#                        <a class="nav-link" href="{% url 'topic:detail' pk=user.current_task.topic.id %}">Topic</a>#}
                    </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2 col-md-0-5 hidden-xs-down sidebar bg-faded font-open-sans">
            <ul class="nav nav-pills flex-column center-text">
                {% block sidebar %}
                {% if user.current_task.setting.only_show_doc %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'iterative:main' %}"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
                </li>
                {% else %}
                    {% if user.current_task.setting.show_search %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search:main' %}"><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'CAL:main' %}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
                    </li>
                {% endif %}
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'judgment:get_all' %}">A</a>
                </li>
                {% endcomment %}
                {% endblock %}
            </ul>

        </nav>

        <main class="col-sm-10 offset-sm-1 col-md-11 offset-md-0-5 pt-3 top-margin extra-padding">
            {% block messages %}
                {% if messages %}
                    <div class="alert alert-info"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for message in messages %}
                            <p class="no-margin">
                                <strong>Done</strong> {{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
            {% block main %}
                MAIN CONTENT HERE
            {% endblock %}
        </main>

        {% block extra_body %}{% endblock %}

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.mark.min.js' %}"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        });
    });

    // Nofity server of page visit on pageload
    window.onload = function () {
        var now = +new Date();
        $.ajax({
            url: '{% url 'progress:post_visit' %}',
            method: 'POST',
            data: JSON.stringify({
                'client_time': now,
                'page_title': document.title,
                'page_file': '{{ request.page_file }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }),
            success: function (result) {
                console.log(result['message']);
            }
        });
    };
</script>

{% block extra_scripts %}{% endblock %}

</body>
</html>
