{% extends "account/base.html" %}
{% load i18n static crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block main %}
{% block inner %}

<div class="row mt-4">

  <div class="col-md-6 align-self-center center-text">
    <div class="brand font-montserrat mb-3"><img src="{% static 'images/hical.png' %}" width="20%"></div>
    <p class="gray-text">A System for Efficient High-Recall Retrieval</p>
  </div>
  <div class="col-md-5">

    <h1>{% trans "Sign In" %}</h1>

    <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first. {% endblocktrans %}</p>
    <p>If you would like to practice using the system, click on the
      practice button above.</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    </form>

  </div>

</div>


{% endblock %}
{% endblock %}

