{% extends "base.html" %}
{% load static %}

{% block pagetitle %}Judgments{% endblock %}

{% block extra_head %}{% endblock %}


{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'search:main' %}">S</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'CAL:main' %}">J</a>
    </li>
{% endblock %}

{% block nav-header %}
    {% block nav-header-title %}{% endblock %}
    <li class="nav-item active">
    <span class="nav-link thin text-primary">
       <strong>Stats</strong>
    </span>
    </li>
{% endblock %}


{% block main %}
<h1 class="text-primary">{{ user.current_topic.title }}</h1>
<div class="row">
   <div class="col-md-6">
       <div class="card">
           <div class="card-block" id="first">
               <h4 class="text-primary">How many documents are judged?</h4>
               <div class="row extra-top-margin">
                   <div class="col-md-12">
                       <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Judgment</th>
                              <th>CAL</th>
                              <th>Search</th>
                              <th>All</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row"><span class="text-success">Relevant</span></th>
                              <td>{{ total_relevant_CAL }}</td>
                              <td>{{ total_relevant_search }}</td>
                              <td>{{ total_relevant_CAL|add:total_relevant_search }}</td>
                            </tr>
                            <tr>
                              <th scope="row"><span class="text-warning">On topic</span></th>
                              <td>{{ total_ontopic_CAL }}</td>
                              <td>{{ total_ontopic_search }}</td>
                              <td>{{ total_ontopic_CAL|add:total_ontopic_search }}</td>
                            </tr>
                            <tr>
                              <th scope="row"><span class="text-danger">Non relevant</span></th>
                              <td>{{ total_nonrelevant_CAL }}</td>
                              <td>{{ total_nonrelevant_search }}</td>
                              <td>{{ total_nonrelevant_CAL|add:total_nonrelevant_search }}</td>
                            </tr>
                          </tbody>
                        </table>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div class="col-md-6">
       <div class="card">
           <div class="card-block">
               <h4 class="text-primary">How much time spent judging in CAL?</h4>
               <div class="row extra-top-margin">
                   <div class="col-md-12">
                       <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Judgment</th>
                              <th>Average</th>
                              <th>Median</th>
                              <th>SD</th>
                              <th>Variance</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row"><span class="text-success">Relevant</span></th>
                              <td>{{ average_relevant_timespent_CAL }}</td>
                              <td>{{ median_relevant_timespent_CAL }}</td>
                              <td>{{ stdev_relevant_timespent_CAL }}</td>
                              <td>{{ variance_relevant_timespent_CAL }}</td>
                            </tr>
                            <tr>
                              <th scope="row"><span class="text-warning">On topic</span></th>
                              <td>{{ average_ontopic_timespent_CAL }}</td>
                              <td>{{ median_ontopic_timespent_CAL }}</td>
                              <td>{{ stdev_ontopic_timespent_CAL }}</td>
                              <td>{{ variance_ontopic_timespent_CAL }}</td>
                            </tr>
                            <tr>
                              <th scope="row"><span class="text-danger">Non relevant</span></th>
                              <td>{{ average_nonrelevant_timespent_CAL }}</td>
                              <td>{{ median_nonrelevant_timespent_CAL }}</td>
                              <td>{{ stdev_nonrelevant_timespent_CAL }}</td>
                              <td>{{ variance_nonrelevant_timespent_CAL }}</td>
                            </tr>
                          </tbody>
                        </table>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<div class="row extra-top-margin">
   <div class="col-md-6">
       <div class="card">
           <div class="card-block">
               <h4 class="text-primary">Question?</h4>
           </div>
       </div>
   </div>
   <div class="col-md-6">
       <div class="card">
           <div class="card-block">
               <h4 class="text-primary">Question?</h4>
           </div>
       </div>
   </div>
</div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}
