{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}Pre-task{% endblock %}
{% block nav-header %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-primary top-margin">Demographic questionnaire</h4>
            <hr>
            <p>Please answer the demographic questions.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>

{% endblock %}



{% block extra_scripts %}
    <script>
        // TODO: Update URL
        // Nofity server of page visit on pageload
        window.onload = function () {
            var now = +new Date();
            $.ajax({
                url: '{% url 'topic:post_visit' %}',
                method: 'POST',
                data: JSON.stringify({
                    'client_time': now,
                    'type': "create",
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }),
                success: function (result) {
                }
            });
        };
    </script>
{% endblock %}
