{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block pagetitle %}Exit{% endblock %}


{% block sidebar %}{% endblock %}

{% block nav-left%}{% endblock %}
{% block nav-header %}
    <li class="nav-item active">
        <span class="nav-link gray-text">Exit questionnaire</span>
    </li>
{% endblock %}
{% block nav-right%}
<li class="nav-item">
        {% if request.user.is_authenticated %}
        <a class="btn btn-outline-primary btn-sm small" href="{% url 'account_logout'  %}">Sign out</a>
        {% else %}
        <a class="btn btn-outline-primary btn-sm small" href="{% url 'account_login' %}">Sign In</a>
        {% endif %}
    </li>
{% endblock %}


{% block main %}

    <div class="row flex-items-md-center">
        <div class="col-md-12 mt-4">
            <h1 class="text-primary"> Exit questionnaire </h1>
            <p>Thank you for completing the study and using all of the interfaces and judging platforms.</p>
            <p>You have been given the following interfaces/platforms to judge documents. For some topics, you were provided with a combination of these interfaces. As a reminder, below are screenshots of the interfaces you have used.</p>
            <div class="row">
                <div class="col-md-4">
                    <figure class="figure align-left">
                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ccc93b89e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ccc93b89e%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22148.8515625%22%20y%3D%22159.15%22%3E400x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                             class="figure-img img-fluid rounded"
                             alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption center-text">
                        Search interface.
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure align-left">
                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ccc93b89e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ccc93b89e%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22148.8515625%22%20y%3D%22159.15%22%3E400x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                             class="figure-img img-fluid rounded"
                             alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption center-text">
                            Paragraph interface.
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure align-left">
                        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ccc93b89e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ccc93b89e%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22148.8515625%22%20y%3D%22159.15%22%3E400x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                             class="figure-img img-fluid rounded"
                             alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption center-text">
                            Paragraph interface with toggleable full document content.
                        </figcaption>
                    </figure>
                </div>

            </div>
            <strong>Please answer the following questions:</strong>
        </div>
    </div>
    <div class="row extra-top-margin">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>

{% endblock %}
