{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Home{% endblock %}

{% block nav-header %}
    <li class="nav-item active">
        <span class="nav-link gray-text">Start with a judging interface</span>
    </li>
{% endblock %}
{% block nav-right%}
<li class="nav-item right-margin">
    <a class="btn btn-outline-primary btn-sm small" href="{% url 'progress:tutorial' %}">Tutorial</a>
</li>
<li class="nav-item">
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-primary btn-sm small" href="{% url 'account_logout'  %}">Sign out</a>
    {% else %}
    <a class="btn btn-outline-primary btn-sm small" href="{% url 'account_login' %}">Sign In</a>
    {% endif %}
</li>
{% endblock %}


{% block main %}
    <div class="row top-bottom-margin">
        <div class="col-md-6">
            <h2 class="text-primary"> Your task </h2>
            <hr>
            <h6 class="text-primary">You may to switch between any interfaces at any moment. Please choose a judging interface to start with.</h6>
            {% if user.current_task.setting.only_show_doc %}
            <p><h2 class="text-primary display-inline-flex"><i class="fa fa-list-ol right-margin" aria-hidden="true"></i> Iterative interface.</h2></p>
            {% else %}
            {% if user.current_task.setting.show_search %}
            <p><h2 class="text-primary display-inline-flex"><i class="fa fa-search right-margin" aria-hidden="true"></i>  Search interface. </h2></p>
            {% endif %}
            <p><h2 class="text-primary display-inline-flex"><i class="fa fa-lightbulb-o right-margin" aria-hidden="true"></i> Learning interface.</h2></p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2 class="text-primary"> Your current topic </h2>
            <hr>
            <p><strong>Title</strong>: {{ user.current_task.topic.title }}</p>
            <p><strong>Desc</strong>: {{ user.current_task.topic.description }}</p>
        </div>
    </div>
{% endblock %}
