{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}Home{% endblock %}

{% block nav-header %}
    <li class="nav-item active">
        <span class="nav-link gray-text">Please choose a judging platform</span>
    </li>
{% endblock %}
{% block nav-right%}
<li class="nav-item right-margin">
    <a class="btn btn-outline-primary btn-sm small" href="{% url 'progress:tutorial' %}">Tutorial</a>
</li>
<li class="nav-item">
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-primary btn-sm small" href="{% url 'account_logout'  %}">Sign out</a>
    {% else %}
    <a class="btn btn-outline-primary btn-sm small" href="{% url 'account_login' %}">Sign In</a>
    {% endif %}
</li>
{% endblock %}


{% block main %}
    <div class="row top-bottom-margin">
        <div class="col-md-6">
            <h2 class="text-primary"> Your task </h2>
            <hr>
            <h6 class="text-primary"> Please choose a judging interface from the left navigation list.</h6>
            {% if user.current_task.setting.only_show_doc %}
            <p><h2 class="text-primary display-inline-flex"><i class="fa fa-list-ol" aria-hidden="true"></i></h2> : Iterative platform. < insert desc of interface here ></p>
            {% else %}
            {% if user.current_task.setting.show_search %}
            <p><h2 class="text-primary display-inline-flex"><i class="fa fa-search" aria-hidden="true"></i></h2> : Search platform. < insert desc of interface here ></p>
            {% endif %}
            <p><h2 class="text-primary display-inline-flex"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></h2> : Intelligent platform. < insert desc of interface here ></p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2 class="text-primary"> Your current topic </h2>
            <hr>
            <p><strong>Title</strong>: {{ user.current_task.topic.title }}</p>
            <p><strong>Desc</strong>: {{ user.current_task.topic.description }}
            </p>
            <p><strong>Narrative</strong>: {{ user.current_task.topic.narrative }}
            </p>
        </div>
    </div>
{% endblock %}
