{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}Pre-task{% endblock %}
{% block nav-header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block nav-right %}
    <li class="nav-item">
        {% if request.user.is_authenticated %}
            <a class="btn btn-outline-primary btn-sm small"
               href="{% url 'account_logout' %}">Sign out</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm small"
               href="{% url 'account_login' %}">Sign In</a>
        {% endif %}
    </li>
{% endblock %}

{% block main %}
    <h3 class="text-primary">Your current topic</h3>
    <div class="row top-bottom-margin">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <p><strong>Title</strong>: {{ user.current_task.topic.title }}</p>
                    <p><strong>Description</strong>: {{ user.current_task.topic.description }}</p>
                </div>
            </div>

        </div>
    </div>
    <h4 class="text-primary top-margin">Please answer the following questions</h4>
    <div class="row top-bottom-margin">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <form method="POST">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
