{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}Task completed{% endblock %}
{% block nav-header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block nav-left %}{% endblock %}
{% block nav-right %}
    <li class="nav-item">
        {% if request.user.is_authenticated %}
            <a class="btn btn-outline-primary btn-sm small"
               href="{% url 'account_logout' %}">Sign out</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm small"
               href="{% url 'account_login' %}">Sign In</a>
        {% endif %}
    </li>
{% endblock %}

{% block main %}
    <h3 class="text-primary">Your task has been completed</h3>
    <p>
        {% if request.user.current_task.setting.only_show_doc %}
            You have judged all required documents for this task.
        {% else %}
        You have reached the maximum amount of judging time required for this task.
        {% endif %}
    </p>
    <p>Please proceed.</p>
    <div class="row">
        <div class="col-md-12 align-right">
            <a class="btn btn-primary" href="{% url 'progress:posttask' %}">Next</a>
        </div>
    </div>
{% endblock %}
