{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}All tasks has been completed{% endblock %}
{% block nav-header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block nav-left %}{% endblock %}
{% block nav-right %}
    <li class="nav-item">
        {% if request.user.is_authenticated %}
            <a class="btn btn-outline-primary btn-sm small"
               href="{% url 'account_logout' %}">Sign out</a>
        {% else %}
            <a class="btn btn-outline-primary btn-sm small"
               href="{% url 'account_login' %}">Sign In</a>
        {% endif %}
    </li>
{% endblock %}

{% block main %}
    <h3 class="text-primary">The study has been completed</h3>
    <p>Thank you for participating. The study is now complete.</p>
    <p>Please contact the study coordinator to receive your remuneration.</p>
{% endblock %}
