{% extends "base.html" %}
{% load i18n has_group crispy_forms_tags %}

{% block pagetitle %}Home{% endblock %}

{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"
            type="application/javascript"></script>
{% endblock %}


{% block nav-header %}{% endblock %}
{% block nav-right%}
<li class="nav-item mt-0-4 mr-3">
    {% if request.user.is_authenticated and request.user|has_group:"practice" %}
    <a href="{% url 'progress:practice_complete' %}" class="btn btn-primary btn-sm">Exit practice</a>
    {% elif request.user.is_authenticated %}
    <a class="btn btn-outline-primary btn-sm small" href="{% url 'account_logout'  %}">Sign out</a>
    {% else %}
    <a class="btn btn-outline-primary btn-sm small" href="{% url 'account_login' %}">Sign In</a>
    {% endif %}
</li>
{% endblock %}


{% block help_modal_text %}
    <p>Here you can initiate the topic of your search. You can select one of the pre-defined TREC topics or create your own topic.</p>
{% endblock %}



{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="card small-shadow bottom-margin ">
                <div class="card-block">
                    {% if user.current_task %}
                    <h2 class="text-primary"> Your current topic </h2>
                    <hr>
                    <p><strong>Title</strong>: {{ user.current_task.topic.title }}</p>
                    <p><strong>Seed query</strong>: {{ user.current_task.topic.seed_query }}</p>
                    <p><strong>Description</strong>: {{ user.current_task.topic.description }}</p>
                    {% else %}
                    <h2 class="text-danger">Please create or select a topic</h2>
                    <hr>
                    <p>There is currently no active topic. Please select or create a topic of search.</p>
                    {% endif %}
                </div>
            </div>

            {% if user.current_task %}
            <div class="card small-shadow">
                <div class="card-block" id="first">
                    <h4 class="text-primary">How many documents did you judge?</h4>
                    <div class="row extra-top-margin">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Judgment Category</th>
                                    <th>Learning model</th>
                                    <th>Search model</th>
                                    <th>All</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row"><span
                                            class="text-success">Highly relevant</span></th>
                                    <td>{{ total_highlyRelevant_CAL }}</td>
                                    <td>{{ total_highlyRelevant_search }}</td>
                                    <td>{{ total_highlyRelevant_CAL|add:total_highlyRelevant_search }}</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span
                                            class="text-warning">Relevant</span></th>
                                    <td>{{ total_relevant_CAL }}</td>
                                    <td>{{ total_relevant_search }}</td>
                                    <td>{{ total_relevant_CAL|add:total_relevant_search }}</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span
                                            class="text-danger">Non relevant</span></th>
                                    <td>{{ total_nonrelevant_CAL }}</td>
                                    <td>{{ total_nonrelevant_search }}</td>
                                    <td>{{ total_nonrelevant_CAL|add:total_nonrelevant_search }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="offset-md-2 col-md-8">
                            <canvas id="piechart" width="200" height="200"
                                    class="extra-top-margin"></canvas>
                        </div>
                    </div>
                    <script>
                        var ctx = document.getElementById("piechart");
                        var data = {
                            labels: [
                                "Highly relevant",
                                "Relevant",
                                "Non relevant"
                            ],
                            datasets: [
                                {
                                    data: [
                                        {{ total_highlyRelevant_CAL|add:total_highlyRelevant_search }},
                                        {{ total_relevant_CAL|add:total_relevant_search }},
                                        {{ total_nonrelevant_CAL|add:total_nonrelevant_search }}],
                                    backgroundColor: [
                                        "#5cb85c",
                                        "#f0ad4e",
                                        "#d9534f"
                                    ],
                                    hoverBackgroundColor: [
                                        "#5cb85c",
                                        "#f0ad4e",
                                        "#d9534f"
                                    ]
                                }]
                        };
                        var myPieChart = new Chart(ctx, {
                            type: 'pie',
                            data: data,
                            options: {
                                legend: {
                                    display: true,
                                    position: 'right'
                                }
                            }
                        });
                    </script>

                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="card small-shadow bottom-margin"  style="border-color: #EFAC57">
                <div class="card-block">
                    <h2 class="text-warning">TREC topics </h2>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>

            <div class="card small-shadow"  style="border-color: #EFAC57">
                <div class="card-block">
                    <h2 class="text-warning">Create new topic </h2>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {% crispy form_topic %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
