{% extends "base.html" %}
{% load i18n has_group %}

{% block pagetitle %}Sessions{% endblock %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js" type="application/javascript"></script>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-12">
    <h1 class="text-secondary">Your sessions</h1>

    {% if not tasks %}
    <h2 class="text-danger">Please create or select a topic</h2>
    <p>There are currently no topic sessions..</p>
    {% endif %}

    {% for task in tasks %}
    {% if user.current_task == task.task_obj %}
    <div class="card bottom-margin" style="border-color: #13ce66">
      {% else %}
      <div class="card bottom-margin">
        {% endif %}
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-md-2">
              {% if task.task_obj.topic.number %}<h5 class="text-danger mb-3">Topic#: {{ task.task_obj.topic.number }}</h5>{% endif %}
              <p class="m-0"><strong>Strategy:</strong> {{ task.task_obj.get_strategy_display }}</p>
              <p class="m-0"><strong>Max Judgments (effort):</strong> {{ task.task_obj.max_number_of_judgments }} </p>
              <p class="m-0"><strong>Show Full Document:</strong> {{ task.task_obj.show_full_document_content }} </p>
              {% if user.current_task == task.task_obj %}
              <button type="button" class="btn btn-sm btn-outline-secondary mt-2" disabled>Activated</button>
              {% else %}
              <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" name="sessionid" value="{{ task.task_obj.uuid }}" class="btn btn-sm btn-outline-success mt-2">Activate</button>
              </form>
              {% endif %}

            </div>
            <div class="col-md-3">
              <p class="m-0"><strong>Title:</strong> {{ task.task_obj.topic.title }}</p>
              {% if task.task_obj.topic.description %}<p class="m-0"><strong>Description:</strong> {{ task.task_obj.topic.description }}</p>{% endif %}
              <p class="m-0"><strong>Created at:</strong> {{ task.created_at }}</p>
            </div>
            <div class="col-md-2 ">
              <p class="mb-0"><strong>Total judged:</strong> {{ task.total_judged }}</p>
              <p class="mb-0"><strong class="text-success">Highly Rel:</strong> {{ task.total_highlyRelevant }}</p>
              <p class="mb-0"><strong class="text-warning">Rel:</strong> {{ task.total_relevant }}</p>
              <p class="mb-0"><strong class="text-danger">NonRel:</strong> {{ task.total_nonrelevant }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
