{% extends "base.html" %}
{% load i18n has_group %}

{% block pagetitle %}Sessions{% endblock %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js" type="application/javascript"></script>
{% endblock %}

{% block main %}
<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="card border-0 sticky-top" style="top: 73px; z-index: 0;">
      <div class="card-block">

        {% if user.current_task %}
        <h2 class="text-secondary">Current session</h2>
        <hr class="d-none d-md-block">

        <div class="list-group">
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ user.current_task.topic.title }}</h5>
              {% if user.current_task.topic.number %}
              <small>#{{ user.current_task.topic.number }}</small>
              {% endif %}
            </div>
            {% if user.current_task.topic.description %}<p class="mb-1">{{ user.current_task.topic.description }}</p>{% endif %}
            <p class="mb-1">
              <small><strong>Seed query</strong>: {{ user.current_task.topic.seed_query }}</small>
            </p>
            <p class="mb-1">
              <small><strong>Strategy:</strong> {{ user.current_task.get_strategy_display }}</small>
            </p>
            {% if task.task_obj.max_number_of_judgments > 0 %}
            <p class="mb-1">
              <small><strong>Effort (max judgments):</strong> {{ task.task_obj.max_number_of_judgments }}</small>
            </p>
            {% endif %}
            <small>Created {{ user.current_task.created_at }}</small>
          </div>
        </div>
        {% else %}
        <h2 class="text-danger">Please create a topic</h2>
        <hr>
        <p>You currently do not have an active topic session.</p>
        {% endif %}

      </div>
    </div>
  </div>

  {% if tasks %}
  <div class="col-sm-12 col-md-8">
    <div class="card border-0">
      <div class="card-block">
        {% if tasks %}
        <h2 class="text-secondary">Your sessions</h2>
        <hr>
        {% else %}
        <h2 class="text-danger">Please create or select a topic</h2>
        <hr>
        <p>There are currently no topic sessions..</p>
        {% endif %}
        {% for task in tasks %}
        {% if user.current_task != task.task_obj %}
        <div class="row mb-4">
          <div class="col-md-9">
            <h5 class="text-truncate">{{ task.task_obj.topic.title }}</h5>
            <p class="mb-1 small text-truncate">
              {% if task.task_obj.topic.description %}
              {{ task.task_obj.topic.description }}
              {% else %}
              Topic description is unavailable.
              {% endif %}
            </p>
            <p class="text-muted m-0" style="font-size: 65%;">Created {{ user.current_task.created_at }}</p>
          </div>
          <div class="offset-md-1 col-md-2 mt-3 mt-md-0 btn-block align-self-center center-text">
            <form action="" method="POST">
              {% csrf_token %}
              <button type="submit" name="sessionid" value="{{ task.task_obj.uuid }}" class="btn btn-sm btn-outline-secondary btn-block">Activate</button>
            </form>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
</div>
{% endif %}
{% endblock %}
