{% extends "base.html" %}
{% load static %}

{% block pagetitle %}Judgments{% endblock %}


{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'search:main' %}">S</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'CAL:main' %}">J</a>
    </li>
    {% comment %}
    <li class="nav-item">
        <a class="nav-link active bold" href="{% url 'judgment:get_all' %}">A<span
                class="sr-only">(current)</span></a>
    </li>
    {% endcomment %}
{% endblock %}

{% block nav-header %}
    {% block nav-header-title %}{% endblock %}
    <li class="nav-item active">
    <span class="nav-link thin text-primary">
       <strong>All Judgments</strong>
    </span>
    </li>
{% endblock %}



{% block main %}
<div class="row">
    <div class="col-md-8">
        <h3 class="text-primary">All judgments</h3>
        <hr>
        <div>
            {% for judgment in judgments_list %}
                <a href="#" data-toggle="modal" data-target=".doc-{{ judgment.doc_id }}-modal">
                    <div class="row top-margin">
                        <div class="col-md-1">
                            {% if judgment.relevant %}
                                <div class="bg-success" style="height: 100%;" >
                                    <i class="fa" aria-hidden="true"></i>
                                </div>
                            {% elif judgment.nonrelevant %}
                                <div class="bg-danger" style="height: 100%;">
                                    <i class="fa" aria-hidden="true"></i>
                                </div>
                            {% elif judgment.ontopic %}
                                <div class="bg-warning" style="height: 100%;">
                                    <i class="fa" aria-hidden="true"></i>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-10">
                            {{ judgment.doc_title }}
                        </div>
                        <div class="col-md-1 small align-right">
                            <code>{{ judgment.doc_id }}</code>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-3 offset-md-8" style="position: fixed;">
        <div class="card">
            <div class="card-block bg-faded">
                <span class="text-primary">Source togglers:</span>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="all" name="radio-stacked" type="radio"
                               class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">All judgments</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="CAL" name="radio-stacked" type="radio"
                               class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">CAL judgments</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="search" name="radio-stacked" type="radio"
                               class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Search judgments</span>
                    </label>
                </div>

                <hr>
                <span class="text-primary">Judgment togglers:</span>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="allJudge" name="radio-stacked" type="radio"
                               class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">All</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="rel" name="radio-stacked" type="radio"
                               class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Relevant judgments</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="nonrel" name="radio-stacked" type="radio"
                               class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Non relevant judgments</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="ontopic" name="radio-stacked" type="radio"
                               class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">On topic judgments</span>
                    </label>
                </div>

                <hr>

                <span class="text-primary extra-top-margin">Actions:</span>
                <div class="custom-controls-stacked">
                    <button type="submit" class="btn btn-danger disabled">Delete shown items (NA)</button>
                </div>

            </div>
        </div>
    </div>
</div>

{% for judgment in judgments_list %}
<div class="modal fade doc-{{ judgment.doc_id }}-modal" id="doc-{{ judgment.doc_id }}-modal" tabindex="-1"
         role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xlg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        {{ judgment.doc_title|safe }}
                    </h3>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; min-height: 400px; max-height: 700px;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="document-{{ judgment.doc_id }}-modal-content" id="document-{{ judgment.doc_id }}-modal-content"
                                 data-doc-id="">
                                <div class="document_content" id="document_{{ judgment.doc_id }}_content">
                                    <p class="gray-text">full doc:</p>
                                    <p>
                                        {{ judgment.doc_CAL_snippet|safe }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <nav class="sidebar-nav-fixed bg-faded font-open-sans">
                                <ul class="nav nav-pills flex-column little-padding">
                                    <li class="nav-item extra-top-margin">
                                        <span class="gray-text align-left">Judge document:</span>
                                        <div class="btn-group top-margin" role="group"
                                             aria-label="Basic example">
                                            <a href="#" onclick="return send_judgment_and_hide_modal('{{ judgment.doc_id.doc_id }}', '{{ judgment.doc_title|escapejs }}', '{{ judgment.doc_snippet|escapejs }}', true, false, false, false, false);" class="btn btn-sm btn-success">
                                                Relevant
                                            </a>
                                            <a href="#" onclick="return send_judgment_and_hide_modal('{{ judgment.doc_id.doc_id }}', '{{ judgment.doc_title|escapejs }}', '{{ judgment.doc_snippet|escapejs }}', false, false, true, false, false);" class="btn btn-sm btn-warning">On
                                                topic
                                            </a>
                                            <a href="#" onclick="return send_judgment_and_hide_modal('{{ judgment.doc_id.doc_id }}', '{{ judgment.doc_title|escapejs }}', '{{ judgment.doc_snippet|escapejs }}', false, true, false, true, false);" class="btn btn-sm btn-danger">Not
                                                relevant
                                            </a>
                                        </div>
                                    </li>
                                    <div class="extra-top-margin align-left">
                                        <span class="gray-text">Keyboard shortcuts:</span>
                                        <li class="nav-item top-margin">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span class="badge badge-success">s</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <small class="left-margin">Mark as relevant
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span class="badge badge-warning">k</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <small class="left-margin">Mark as on topic
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item ">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span class="badge badge-danger">h</span>
                                                </div>
                                                <div class="col-md-9">
                                                    <small class="left-margin">Mark as non-relevant
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                    </div>

                                </ul>

                            </nav>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endfor%}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>

    </script>
{% endblock %}
